.table {
	display: block;
}

.theading, .tableBody, .tableFoot, .row{
	clear: both;
}
			
.thead, .tableFoot, .theaddemo, .tanshead{
	background-color: #DDD;
	font-weight: bold;
    text-align:center;
}

.cell, .celldemo, .thead, .theaddemo, .anscell, .tanshead{
    border: 1px solid black;
    padding: 2px 2px 2px 2px;
	float: left;
	overflow: auto;
	width: 12%;
    height:40px;
}
                        
.theaddemo, .celldemo{
    width:3%;
}

.anscell, .tanshead{
	width:7%;
}

.celldemo {
    padding: 12px 2px 12px 2px;
    text-align: center;
    overflow: hidden;
    height:20px;
}

.table:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
                        
#qweww, #ewqewq{
    min-height:20px;
    color:red;
    display:inline;
}
                        